/* ==UserStyle==
@name           ae_jira_kanban
@namespace      github.com/openstyles/stylus
@version        1.0.9
@description    Make the Jira Kanban board more pleasant to use
@author         ae_jira_kanban Team
@homepageURL    https://github.com/appfolio/ae_userstyles
==/UserStyle== */


@-moz-document domain("atlassian.net") {
    /* Board title row with board name, top-right nav buttons - Reduce vertical whitespace */
    .css-1eekove {
        margin-bottom: -25px;
    }

    /* Page top section - Reduce vertical whitespace */
    .css-cayjis {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    /* Top nav row with search field, participant icons, "Epic" and other dropdowns - Reduce vertical whitespace */
    ._otyrxy5q {
        margin-bottom: 5px;
    }

    /* Column header row div - Reduce vertical whitespace */
    [data-testid="platform-board-kit.common.ui.column-header.header.column-header-container"] {
        height: 30px;
    }

    /* Fix taller characters (e.g. certain emoji) in column header row being slightly truncated vertically */
    [data-testid="platform-board-kit.common.ui.column-header.header.column-header-container"] > div {
        padding-top: 20px;
    }
    [data-testid="platform-board-kit.common.ui.column-header.editable-title.inline-edit-part-wrapper"] {
        height: 30px;
    }
    [data-testid="platform-board-kit.common.ui.column-header.editable-title.column-title.column-title"] {
        height: 20px;
    }
    [data-testid="platform-board-kit.common.ui.column-header.editable-title.column-title.column-name"] {
        padding-top: 2px;
    }

    /* Column headers - Increase font size/weight */
    h2.__board-test-hook__column-title {
        font-weight: 600;
        font-size: 15px;
    }

    /* Column header div - Increase card and column width */
    div[data-component-selector="platform-board-kit.ui.column.draggable-column"] {
        min-width: 290px;
        margin-right: 8px;
    }

    /* Card div - Slightly reduce vertical whitespace content padding */
    .yse7za_content {
        padding-top: 3px;
        padding-bottom: 6px;
    }

    /* Card title text spans */
    .css-1qyv5a ._slp31hna {
        padding-right: 0; /* Allow card title to span full card width */
        -webkit-line-clamp: 7; /* Discontinue truncation of card titles (<= 7 lines) */
        pointer-events: none; /* Card title on-hover tool tips: remove. (Unneeded now that we're preventing truncation of card titles!) */
    }

    /* Card ID labels (in the bottom left of each card) */
    .css-1qyv5a ._p12f1osq {
        pointer-events: none; /* Card ID tool tips: remove */
    }

    /* Card Epic labels (with colored background, below the card title text) */
    .css-1qyv5a ._1reo15vq {
        pointer-events: none; /* Card Epic label tool tips: remove */
    }

    /* Card "..." on-hover button - Move to bottom-center of card (to avoid obscuring other card elements on hover) */
    [data-testid="platform-card.ui.card.actions-section"] {
        top: initial;
        right: 123px;
        bottom: 5px;
    }

    /* Move the drag-drop column overlays (introduced ~June 2025) that would prevent position ordering in the destination column to behind the cards */
    /* The drag-drop column overlays */
    div[data-component-selector="platform-board-kit.ui.column.column-transition-zones-container.outer-transition-container"] {
        opacity: 0.5; 
        z-index: 2;
    }
    /* The visbile-only-on-column-hover "+ Create" buttons */
    ul[data-testid="software-board.board-container.board.virtual-board.fast-virtual-list.fast-virtual-list-wrapper"] > li:last-of-type {
        z-index: 1; 
    }
    /* The cards */
    div[data-testid="software-board.board-container.board.card-container.card-with-icc"] {
        z-index: 3;
    }
}
